
table {
    border-collapse: collapse;
    
}
td {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}
.red {
    
    background-color: red; 


}
.blue {
        
        background-color: blue; 
        
    }
.yellow {
        
        background-color: yellow; 
    }
.green {
        
        background-color: green; 
    }
.grey {
        
        background-color: grey; 

    }
