@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './theme';


body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;

}

.container {
    max-width: 1180px;
    margin: auto;
}


.logo a {
    font-size: 25px;
    font-weight: 600;
    color: $text-color;
    text-decoration: none;

}

@mixin flex-layout($horizontal: center, $vertical: center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}


// _____________ HEADER start _____________//

.header {
    @include flex-layout(space-between, center);
    padding: 26px 18px;
}

.header__navigation {
    @include flex-layout(flex-end, center);
}

.header__navigation-menu {
    position: relative;
    order: 1;

    @media (max-width: $desktop) {
        .header__navigation-links {
            display: none;
            position: absolute;
            top: 45px;
            right: 0;
            border: 1px solid $border-color;
            border-radius: $border-radius;
        }

        &:focus-within {
            .header__navigation-links {
                @include flex-layout;
                flex-direction: column;
                background: $white;
                z-index: 2;
            }
        }
    }
}

.header__burger-menu {
    fill: $text-color;
    cursor: pointer;
}

@media (min-width: $desktop) {
    .header__navigation-menu {
        order: 0;
    }

    .header__burger-menu {
        display: none;
    }
}

.header__navigation-link {
    width: 100%;
    padding: 15px 16px 14px;
    text-decoration: none;
    font-size: $text-size;
    color: $text-color;
    text-align: center;

    &:hover {
        border-bottom: 1px solid $border-color;
    }
}

.header__getting-started-wrapper {
    display: none;
    margin-left: 100px;
}

@media (min-width: $tablet) {
    .header__getting-started-wrapper {
        @include flex-layout(space-between, center)
    }
}

.header__getting-started-button {
    background: $primary;
    border-radius: $border-radius;
    font-size: 13px;
    border: none;
    padding: 14px 24px;
    font-weight: 400;
    white-space: nowrap;

    &:hover {
        background-color: $secondary;
    }
}


//___________________HEADER END _____________//
//___________________SLIDER START____________//

.slider_section {
    position: relative;


    .search_title_wrapper {
        position: absolute;
        z-index: 1;
        padding-left: 18px;
        top: 20%;

        .title_heading {
            font-size: 40px;
            letter-spacing: -2px;
            line-height: 50px;
            color: $text-color;
            font-weight: 600;
            width: 431px;
            padding-bottom: 60px;
        }

        .search_button {
            @include flex-layout(flex-start, center);
            padding-left: 20px;
            transform: scale(95%);
        }

        .search_button button {
            background: $primary;
            border: none;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            width: 116px;
            height: 72px;
            white-space: nowrap;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }

        img {
            z-index: 1;
            padding-right: 16px;
        }

        input {
            height: 72px;
            border: none;
            width: 310px;
            outline: none;
        }
    }

    @media (min-width: $tablet) {
        .search_title_wrapper {
            top: 20%;

            .title_heading {
                font-size: 62px;
                letter-spacing: -2px;
                line-height: 78px;
                color: $text-color;
                font-weight: 600;
                width: 625px;
                padding-bottom: 60px;
            }

            .search_button {
                @include flex-layout(flex-start, center);
                padding-left: 30px;
                transform: scale(100%) translate(0);
            }

        }
    }

    .slider_section_box {
        @include flex-layout(flex-end, flex-end);
        background: $secondary;
        height: 630px;
        width: 82%;
        margin-left: auto;

        .slider_contacts {
            @include flex-layout (center, flex-start);
            padding: 25px 35px;
            background: $primary;
            flex-direction: column;
        }

        @media (min-width: $tablet) {
            .slider_contacts {
                @include flex-layout (center, center);
                padding: 29px 58px;
                background: $primary;
                flex-direction: row;
            }
        }


        .slider_contact {
            @include flex-layout(flex-start, center);
            flex-direction: row;
            font-weight: 600;
            list-style: none;
            font-size: 18px;
            line-height: 3em;


        }

        @media (min-width: $tablet) {
            .slider_contact {
                flex: 0 0 50%;
                line-height: 0;

            }
        }

        img {
            padding-right: 30px;
        }
    }



    .search__scroll-down {
        @include flex-layout;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 54px;
        left: -32px;
        text-decoration: none;

        img {
            transform: rotate(90deg);
        }

        div {
            margin-left: 20px;
            color: $tertiary;
            font-size: 15px;
        }
    }
}

//________________SLIDER END______________//
//________________ABOUT START______________//

.about-section {
    @include flex-layout(flex-start, center);
    flex-direction: column;
    margin-top: 140px;
    padding-left: 18px;
    margin-bottom: 80px;


    .about-text {
        @include flex-layout(flex-start, flex-start);
        flex-direction: column;

        h2 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
            max-width: $tablet;
        }

        p {
            padding-top: 70px;
            width: 381px;
            font-size: 13px;
            letter-spacing: 0px;
            line-height: 30px;
            font-weight: 400;
        }

        p:nth-of-type(2) {
            padding-top: 50px;
        }

    }

    .milestones {
        @include flex-layout;
        flex-wrap: wrap;

    }

    .milestone {
        @include flex-layout;
        flex-direction: column;
        margin: 20px 20px;
        height: 180px;
        width: 180px;
        background: $background;


        div {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            color: $primary;
            font-weight: 600;


        }

        span {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 50px;
            font-weight: 600;

        }
    }
}

@media (min-width: $tablet) {
    .about-section {
        @include flex-layout(flex-start, center);
        flex-direction: row;
        margin-top: 140px;
        padding-left: 18px;
        margin-bottom: 80px;

        .about-text {
            @include flex-layout(flex-start, flex-start);
            flex-direction: column;

            h2 {
                font-size: 40px;
                letter-spacing: -1px;
                line-height: 50px;
                font-weight: 600;
                width: 305px;
            }

            p {
                padding-top: 70px;
                width: 581px;
                font-size: 13px;
                letter-spacing: 0px;
                line-height: 30px;
                font-weight: 400;
            }

            p:nth-of-type(2) {
                padding-top: 50px;
            }
        }

        .milestones {
            @include flex-layout(flex-end);
            flex-wrap: wrap;
        }

        .milestone {
            @include flex-layout;
            flex-direction: column;
            margin: 20px 20px;
            height: 200px;
            width: 200px;
            background: $background;

            div {
                font-size: 40px;
                letter-spacing: -1px;
                line-height: 50px;
                color: $primary;
                font-weight: 600;

            }

            span {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 50px;
                font-weight: 600;
            }
        }
    }
}

//________________ABOUT END______________//
//________________APPARTMENTS START______________//

.appartments-section {
    background: $background;
}

.appartments {
    @include flex-layout(space-between, flex-start);
    flex-direction: column;

    h2 {
        width: 50%;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 78px;
        padding-left: 18px;
        margin-top: 66px;
    }
}

.appartments_wrapper {
    @include flex-layout(space-between, center);
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 66px;

    .appartment-card {
        width: 351px;
        background: $white;
        box-shadow: 0px 0px 21px 0px $tertiary;
        margin: 20px;

        .appartment-image {
            width: 351px;
            height: 358px;
        }

        .appartment-card-footer {
            @include flex-layout(space-between, center);
            flex-wrap: wrap;
            padding-left: 18px;
            padding-right: 18px;
            padding-top: 20px;

            h3 {
                font-size: 15px;
                letter-spacing: 0px;
                font-weight: 600;
            }

            small {

                font-size: 18px;
                letter-spacing: 0px;
                line-height: 50px;
                color: $primary;
                font-weight: 600;
            }

            ul {
                @include flex-layout;
                flex-direction: row;

                li {
                    @include flex-layout;
                    list-style: none;
                    flex-direction: row;
                    font-size: 13px;
                    letter-spacing: 0px;
                    line-height: 50px;
                    color: $tertiary;
                    font-weight: 400;
                }
            }
        }
    }
}

.appartments_search {
    @include flex-layout (flex-start, center);
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 30px;
    margin-bottom: 85px;

    .input_wrapper {
        @include flex-layout;
        flex-direction: row;
        padding-right: 55px;


        button {
            background: $primary;
            border: none;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            width: 116px;
            height: 72px;
            white-space: nowrap;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }

        input {
            outline: none;
            border: none;
            width: 364px;
            height: 72px;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            &::placeholder {
                padding-left: 60px;
            }
        }

        img {
            margin-right: -30px;
            z-index: 1;
        }
    }

    .appartments_view-all-button {

        background: $white;
        border: none;
        border-radius: $border-radius;
        width: 251px;
        height: 72px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;


    }
}

//________________APPARTMENTS END______________//
//________________HOW START____________________//

.how {
    margin-top: 55px;
    padding: 0 18px;

    .how-it-works-block {
        h2 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
        }

        p {
            padding-top: 35px;
            font-size: 13px;
            letter-spacing: 0px;
            line-height: 30px;
            font-weight: 400;
            width: 365px;
        }
    }

    .how-it-works-wrapper {
        @include flex-layout(space-between, center);
        margin-top: 70px;
        margin-bottom: 90px;
        flex-wrap: wrap;


        .how-card {
            @include flex-layout(flex-start, flex-start);
            flex-direction: column;
            position: relative;
            width: 345px;
            height: 373px;
            background: $white;
            box-shadow: 0px 2px 15px 0px $tertiary;


            img {
                @include flex-layout;
                margin-left: -26px;
                margin-top: -25px;
            }

            .how-card-text {
                @include flex-layout (flex-start, space-between);
                flex-wrap: wrap;
                flex-direction: row;
                max-width: 235px;
                margin-left: 43px;
                margin-top: 25px;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }

                h3:first-of-type {
                    padding-right: 15px;
                }
            }

            p {
                width: 212px;
                font-size: 13px;
                letter-spacing: 0px;
                line-height: 30px;
                font-weight: 400;
                margin-bottom: 25px;
                margin-left: 30px;
                margin-top: 35px;
            }

            h4 {
                margin-left: 30px;
                padding-bottom: 10px;
                border-bottom: 3px solid $text-color;
                font-size: 13px;
                letter-spacing: 0px;
                font-weight: 600;
            }
        }

        .how-card:first-of-type {
            background: $primary;
            color: $white;

            h4 {
                border-bottom: 3px solid $white;
            }
        }
    }

}

.services_block {
    .services-heading {
        text-align: center;

        h2 {
            font-size: 40px;
            margin-bottom: 40px;
        }

        p {
            font-size: 13px;
            line-height: 30px;
            margin-bottom: 70px;

        }
    }

    @media (min-width:$desktop) {

        .services-heading {
            text-align: left;

            p {
                width: 390px;
            }
        }
    }

    .services-wrapper {

        .services-image {
            @include flex-layout;
            width: 100%;
            height: 630px;
            flex: 1 0 630px;
            background: #acd1e1;
            margin-bottom: 50px;

            img {

                // flex: 1 0 100%;
            }
        }

        .services-description {
            @include flex-layout;
            flex-direction: column;

            h3 {
                font-size: 25px;
                letter-spacing: -1px;
                margin-bottom: 30px;
                padding-left: 7px;
            }

            p {
                font-size: 13px;
                line-height: 30px;
                margin-bottom: 60px;
                text-align: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (min-width:$desktop) {
        .services-wrapper {
            @include flex-layout(center, center);
            flex-direction: row;

            .services-image {
                @include flex-layout;
                margin-right: 60px;
                margin-bottom: 0;
            }

            .services-description {
                @include flex-layout(center, flex-start);

                p {
                    text-align: left;
                }

            }
        }
    }
}