@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

// breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colors

$text-color: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;

// Sizes

$text-size: 13px;

// border

$border-radius: 5px;
$border-color: #1f373d;