@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

// colors
$text-color: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;

// Sizes

$text-size: 13px;


// border

$border-radius: 5px;
$border-color: #1f373d;

// font
$font-family: 'Montserrat',
sans-serif;