footer {
position: relative;
max-width: 1326px;
color: white;
margin: auto;
}

footer .top-side {
    position: absolute;
    top: 58px;
    left: 20px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
}

footer .top-side .logo-wrapper {
flex: 0 0 100%;
margin-bottom: 48px;
}

footer .top-side p {
    font-size: 17px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 42%;
}
footer .text-and-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer .contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-left: -400px;
}
footer .contacts span {
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 18px;
}

footer .bottom-side {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    left: 14px;
    bottom: 0px;
    font-family: 'Bebas Neue', cursive;
}

footer .social-media {

 margin-left: 850px;

}
