body {
    background-color: aquamarine;
    font-family: 'Roboto', sans-serif;
}
div {
    width: 200px;
    height: 100px;
    background-color: red;  
}
.first {
    background-color: rgb(250, 233, 3);
    font-weight: 700;
    font-style: italic;
}
.second {
    background-color: green;
}
.third {

}
